@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/**************************************************
CSS RESET
***************************************************/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**************************************************
GLOBAL STYLES
***************************************************/

body {
  background-image: url("../assets/bg/spacebg-desktop.webp");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: "Antonio";
}

@media (width <= 768px) {
  body {
    background-image: url("../assets/bg/spacebg-mobile.webp");
  }
}
