@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/**************************************************
CSS RESET
***************************************************/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**************************************************
GLOBAL STYLES
***************************************************/

body {
  height: 100vh;
  background-image: url("../assets/bg/spacebg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: "Antonio";
}
